@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    height: 100vh;
    overflow: hidden;
}

nav ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/*** Preloader ***/

/*.preloader{*/
/*    position: fixed;*/
/*    top:0;*/
/*    left:0;*/
/*    width:100%;*/
/*    height: 100%;*/
/*    background: #fff;*/
/*    z-index: 10000;*/
/*}*/

/*.preloader .preloader_inner{*/
/*    display:flex;*/
/*    align-items:center;*/
/*    justify-content: center;*/
/*    height:100%;*/
/*}*/

/*.preloader .preloader_inner img{*/
/*    width: 100%;*/
/*}*/


/*** Preloader ***/
.preload {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #dee5e4;
    z-index: 999999;
}

.preload-logo {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: flipInY;
    animation-name: flipInY;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@keyframes flipInY {
    from {
        transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
        animation-timing-function: ease-in;
        opacity: 0;
    }

    40% {
        transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
        opacity: 1;
    }

    80% {
        transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}

.main-container {
    width: 100%;
}

.header-section-container {
    height: 80px;
    width: 100%;
    padding: 10px 0;
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
}
.header-section-container .header-container {
    max-width: 80%;
    margin: 0 auto;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-section-container .header-container .og_brand_logo {
    display: inline-block;
}
.header-section-container .nav_section_container .social-media-container {
    display: flex;
}
.header-section-container
    .nav_section_container
    .social-media-container
    .phone_link-bt {
    color: #f33;
    font-size: 24px;
    transition: all 1s ease-in;
    display: inline-block;
}
.header-section-container
    .nav_section_container
    .social-media-container
    .phone_link-bt:hover,
.header-section-container
    .nav_section_container
    .social-media-container
    .phone_link-bt:focus {
    -webkit-animation: phone-hover 3s linear infinite;
    animation: phone-hover 3s linear infinite;
}
.header-section-container
    .nav_section_container
    .social-media-container
    .phone_link-bt:hover
    .phone-icon {
    -webkit-animation: phone-tilt 1s infinite linear;
    animation: phone-tilt 1s infinite linear;
}
.header-section-container
    .nav_section_container
    .social-media-container
    .phone_link-bt
    .phone-icon {
    -webkit-animation: phone-tilt 1.5s infinite linear;
    animation: phone-tilt 1.5s infinite linear;
}
@-webkit-keyframes phone-hover {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    100% {
        transform: scale3d(0);
    }
}
@keyframes phone-hover {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale3d(1.03, 1.03, 1.03);
    }
    100% {
        transform: scale3d(0);
    }
}
@-webkit-keyframes phone-tilt {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}
@keyframes phone-tilt {
    0% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(10deg);
    }
    100% {
        transform: rotate(0);
    }
}
.header-section-container
    .nav_section_container
    .social-media-container
    .social_media_icon {
    font-size: 20px;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    background-color: #f33;
    color: #fff;
    display: inline-block;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.4s linear;
}
.header-section-container
    .nav_section_container
    .social-media-container
    .social_media_icon:hover {
    background-color: #fff;
    color: #f33;
    transform: scale3d(1.04, 1.04, 1.04);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 -2px 2px rgba(0, 0, 0, 0.2);
}
.header-section-container
    .nav_section_container
    .social-media-container
    .phone-icon {
    color: #f33;
    font-size: 24px;
    padding: 10px;
    display: inline-block;
    padding-right: 8px;
}

.main_content_section_container {
    height: calc(100vh - 137px);
    overflow: hidden;
}
.main_content_section_container .immigration-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main_content_section_container .immigration-container .grid-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.main_content_section_container
    .immigration-container
    .grid-section:hover::before {
    background-color: rgba(0, 0, 0, 0.15);
}

.main_content_section_container .immigration-container .grid-section:hover {
    background-position: 55% 55% !important;
}

.main_content_section_container .immigration-container .grid-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
}

.main_content_section_container .home_content_container {
    max-width: 80%;
    margin: 0 auto;
    display: none;
    height: 100%;
    align-items: center;
    gap: 5%;
}
.main_content_section_container .home_content_container.not-active {
    display: flex;
    -webkit-animation: home-section-animi-default 0.6s ease-out;
    animation: home-section-animi-default 0.6s ease-out;
}
.main_content_section_container .home_content_container.active {
    display: flex;
    -webkit-animation: home-section-animi 0.6s ease-in;
    animation: home-section-animi 0.6s ease-in;
    justify-content: flex-start;
    align-items: center;
}
@-webkit-keyframes home-section-animi-default {
    0% {
        transform: translateY(0px) scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px) scale3d(0.95, 0.95, 0.95);
        opacity: 0;
    }
}
@keyframes home-section-animi-default {
    0% {
        transform: translateY(0px) scale3d(1, 1, 1);
        opacity: 1;
    }
    100% {
        transform: translateY(-50px) scale3d(0.95, 0.95, 0.95);
        opacity: 0;
    }
}
@-webkit-keyframes home-section-animi {
    0% {
        transform: translateY(-50px) scale3d(0.95, 0.95, 0.95);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale3d(1, 1, 1);
        opacity: 1;
    }
}
@keyframes home-section-animi {
    0% {
        transform: translateY(-50px) scale3d(0.95, 0.95, 0.95);
        opacity: 0;
    }
    25% {
        opacity: 0;
    }
    100% {
        transform: translateY(0) scale3d(1, 1, 1);
        opacity: 1;
    }
}
.main_content_section_container
    .home_content_container
    .home_content_container_left_content {
    flex: 0 0 50%;
}
.main_content_section_container
    .home_content_container
    .home_content_container_left_content
    .main_heading {
    font-size: 42px;
    color: #fff;
    margin-bottom: 1rem;
    z-index: 2;
}
.main_content_section_container
    .home_content_container
    .home_content_container_right_content {
    flex: 0 0 50%;
}
.main_content_section_container
    .home_content_container
    .home_content_container_right_content
    .home-banner-background-image {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.footer_section_container {
    height: 60px;
    width: 100%;
    background-color: #fff;
    display: grid;
    align-items: center;
}
.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}
.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    a {
    font-size: 16px;
    color: #2e2e2e;
    display: inline-block;
    font-weight: 600;
    letter-spacing: 0.5px;
}

.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link.active
    a {
    color: #f33;
}

.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link {
    flex: 0 0 15.2857142857%;
    display: flex;
    justify-content: center;
    position: relative;
}
.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link:hover::before {
    opacity: 1;
    width: 100%;
}
.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link.active::before {
    opacity: 1;
    width: 100%;
}
.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link::before {
    content: "";
    width: 80%;
    height: 4px;
    background-color: #f33;
    position: absolute;
    bottom: -16px;
    opacity: 0;
    left: 0;
    transition: all 0.5s;
}

.footer_nav_link:hover.main_content_section_container {
    background-color: #fff;
}

.social-media-container {
    display: flex;
}

.main_heading {
    font-size: 42px;
    color: #fff;
    margin-bottom: 1rem;
    z-index: 2;
}

.custom-btn {
    font-size: 20px;
    color: #f33;
    padding: 8px 30px;
    background-color: #fff;
    display: inline-block;
}

.home_content_container.immigration-container {
    max-width: 100%;
    gap: 0;
}

.home_content_container.immigration-container.active {
    display: flex;
}

.home_content_container.immigration-container.not-active {
    display: flex;
}

.hand-icon {
    font-size: 16px;
    display: inline-block;
    margin-right: 5px;
    -webkit-animation: hand-icon-hovered 1s linear infinite;
    animation: hand-icon-hovered 1s linear infinite;
}

.custom-btn:hover .hand-icon {
    -webkit-animation: hand-icon-hovered 1s linear infinite;
    animation: hand-icon-hovered 1s linear infinite;
}

@-webkit-keyframes hand-icon-hovered {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes hand-icon-hovered {
    0% {
        transform: translateX(0px);
    }
    25% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(2px);
    }
    100% {
        transform: translateX(0);
    }
}
.home_content_container.home-section {
    max-width: 100%;
    position: relative;
}
.home_content_container.home-section .home-first-image {
    width: 100%;
    -webkit-clip-path: polygon(
        45% 0,
        100% 0,
        100% 20%,
        100% 80%,
        100% 100%,
        58% 100%,
        51% 51%,
        45% 0
    );
    clip-path: polygon(
        45% 0,
        100% 0,
        100% 20%,
        100% 80%,
        100% 100%,
        58% 100%,
        51% 51%,
        45% 0
    );
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.home_content_container.home-section .home-page-banner-image {
    display: inline-block;
    transform: translateX(100px);
    -o-object-fit: contain;
    object-fit: contain;
    width: 100%;
}

.home_content_container.home-section .home-page-banner-image.first_page {
    height: calc(100vh - 125px);
    transform: translateX(21%);
}
.home_content_container.home-section .home-banner-bottom-align {
    margin-left: 25px;
    flex: 0 0 50%;
}

.banner-about-us-content {
    color: #fff;
    font-size: 18px;
    letter-spacing: 0.5px;
    line-height: 30px;
    margin-bottom: 1.5rem;
    padding-right: 50px;
    z-index: 2;
}

.og_brand_content {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 1px;
    word-spacing: 3px;
    margin-bottom: 0.5rem;
}

.custom-btn {
    color: #fff;
    padding: 8px 30px;
    background-color: #f33;
    display: inline-block;
    font-size: 1rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border-radius: 3px;
    border: 1px solid #ee1818;
    font-weight: 500;
}
.custom-btn:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: -2;
}
.custom-btn:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: black;
    transition: all 0.3s;
    z-index: -1;
}
.custom-btn:hover {
    color: #fff;
}
.custom-btn:hover:before {
    width: 100%;
}

.skilled_immi_section.about_content_section:nth-child(1) {
    background: url("../images/banner-background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section.about_content_section:nth-child(2) {
    background: url("../images/banner-background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section.about_content_section:nth-child(3) {
    background: url("../images/banner-background2.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section:nth-child(1) {
    background: url("../images/banner-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section:nth-child(2) {
    background: url("../images/banner-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section:nth-child(3) {
    background: url("../images/banner-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.skilled_immi_section:nth-child(4) {
    background: url("../images/banner-background.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.animi_lgo_container {
    z-index: 2;
}

.main_heading.grid_heading {
    font-size: 26px;
    z-index: 2;
    text-align: center;
}

.animation_icon {
    border-radius: 4px;
}

@media only screen and (max-width: 1050px) {
    .home_content_container.home-section .home-page-banner-image {
        display: none;
    }
    .home_content_container.home-section .home-banner-bottom-align {
        flex: 0 0 100%;
    }

    .home_content_container.immigration-container.active {
        display: grid;
        overflow-y: scroll;
        grid-template-columns: repeat(1, 1fr);
    }
}
@media screen and (max-width: 600px) {
    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        a {
        font-size: 10px;
    }

    .main_heading.grid_heading {
        font-size: 1rem;
        z-index: 2;
    }
    .custom-btn {
        padding: 5px 15px;
        font-size: 0.8rem;
    }

    .nav_section_container {
        display: none;
    }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        a {
        font-size: 13px;
    }
}

.home-page-banner-image.about_image {
    translate: 15% -100px;
}

.home-page-banner-image.e_services_image {
    translate: 0 -50px;
}

.home-page-banner-image.success_gallery_image {
    translate: 22% -26%;
}

.home-page-banner-image.contact_page_image {
    translate: 100px -250px;
}

.grid-section.skilled_immi_section.about_section {
    padding-left: 20px;
}

.main_heading.contact_us_heading {
    font-size: 32px;
}

.grid-section.skilled_immi_section.about_section.about_content_section {
    align-items: flex-start;
}

@media screen and (min-height: 750px) {
    .home_content_container.home-section .home-page-banner-image {
        height: 100vh;
        object-fit: cover;
        translate: 0 0;
    }

    .home-page-banner-image.e_services_image {
        translate: 0px 0px;
    }
}

@media screen and (max-width: 1100px) {
    .home_content_container.home-section .home-page-banner-image {
        height: 100vh;
        object-fit: cover;
    }
}

.footer_nav_link.large {
    display: none;
}

.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link.small {
    display: none;
}

.footer_section_container
    .footer_section
    .navigation_links_container
    .navigation_links_container_lists
    .footer_nav_link.large {
    display: none;
}

.main-container.desktop {
    display: none;
}

.main-container.mobile {
    display: none;
}

@media screen and (max-width: 1050px) {
    .main-container.mobile {
        display: block;
    }
    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link.small {
        display: flex;
    }

    .banner-about-us-content {
        font-size: 16px;
        line-height: 24px;
        padding-right: 0px;
    }

    .grid-section.skilled_immi_section.about_section {
        padding: 0 20px;
    }

    .main_heading {
        font-size: 36px;
        z-index: 2;
    }

    body {
        height: auto;
        overflow-y: scroll;
    }

    .main_content_section_container {
        height: auto;
        overflow: auto;
    }

    .main-container {
        overflow-x: hidden;
    }

    .main_content_section_container .home_content_container {
        display: block;
    }

    .grid-section.skilled_immi_section.about_section.about_content_section {
        padding: 50px 20px;
    }

    .home_content_container.home-section .home-banner-bottom-align {
        padding: 70px 20px;
        margin-left: 0;
        text-align: center;
    }

    .home_content_container.home-section
        .home-banner-bottom-align.success_gallery_left {
        background: url("../images/banner-background2.jpg");
        background-size: cover;
        background-position: 50% 50%;
    }

    .grid-section.skilled_immi_section.about_section.about_content_section {
        align-items: center;
    }

    .main_content_section_container .immigration-container .grid-section {
        padding: 40px 0;
    }

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        a {
        font-size: 16px;
        white-space: nowrap;
        font-family: "Oswald", sans-serif;
        letter-spacing: 1.5px;
    }

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists {
        overflow-x: scroll;
        padding: 0 0px 0;
        justify-content: flex-start;
    }

    .header-section-container .header-container {
        justify-content: space-evenly;
    }

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link {
        padding: 18px 30px 18px 5px;
    }

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists::-webkit-scrollbar {
        display: none;
    }

    .navigation-last-item {
        width: 60px;
    }

    .banner-about-us-content {
        text-align: center;
    }

    .e_services_content_update.banner-about-us-content {
        text-align: justify;
    }

    .main_heading.contact_us_heading {
        text-align: center;
    }

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link::before {
        bottom: -2px;
        height: 2px;
    }

    section.footer_section_container.mobile {
        box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
    }

    .header-section-container {
        background-color: #dbdbdb;
    }

    .skilled_immi_section.about_section.about_content_section.contact_section {
        background: #dbdbdb;
        box-shadow: 0 0px 1px #ff3333;
    }

    h2.main_heading.contact_us_heading.update {
        color: #f33;
    }

    p.banner-about-us-content.update_banner_about_content.update {
        color: #df1a23;
    }

    /* div#home {
        background: linear-gradient(
                rgb(255 222 222 / 92%),
                rgb(150 255 164 / 53%)
            ),
            url(http://127.0.0.1:8000/assets/images/banner-background2.jpg);
        background-size: cover, cover;
    } */

    div#home {
        background: url("../images/home-banner_update.jpg") center center;
        background-color: rgb(36 33 30 / 50%);
        background-blend-mode: multiply;
        background-size: cover;
    }
    /* .og_brand_content.update {
        color: #f33;
    }

    p.banner-about-us-content.update {
        color: #f33;
        text-shadow: 3px 4px 7px rgb(189 166 88);
    }

    .main_heading.update {
        color: #f33;
    } */

    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link.hide:before {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link.hide {
        display: none;
    }
}

@media screen and (min-width: 1051px) {
    .footer_section_container
        .footer_section
        .navigation_links_container
        .navigation_links_container_lists
        .footer_nav_link.large {
        display: flex;
    }

    .main-container.desktop {
        display: block;
    }
}

.footer_section_container.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99999;
}

.section-seperator {
    width: 100%;
    height: 40px;
    background: #fff;
}

@media screen and (min-width: 1450px) {
    .home_content_container.home-section .home-page-banner-image.first_page {
        height: calc(100vh - 125px);
        transform: translateX(25%);
    }
}